.card-size {
  max-width: 1000px;
}

.project-width {
  min-width: 200px;
}

/* .table thead tr th {
  background-color: inherit;
  font-size: 11px;
  font-weight: 500;
} */

.permission_title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.col-actions-one {
  width: 1rem;
}