<%= render "shared/header" %>
<div id="layoutSidenav">
  <%= render "shared/sidenav" %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid max-container">
        <div class="page-heading"> 
          <div class="ph-left d-flex pe-3">
            <i class="fa-solid fa-user-group icon-heading"></i>
            <div>Cargos/Funções - Usuários</div>
          </div>
          <div class="ph-right">
          </div>          
        </div>
        
        <div class="card mb-4">
          <div class="card-body">
            Cadastro de Cargos/Funções
          </div>
        </div>
        
      </div>                    
    </main>
  </div>
</div>