<div class="card card-topic">
  <div class="card-header">
    <i class="fa-solid fa-angles-right pe-2"></i>Visão Geral
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-customer d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-building"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Clientes</div>
                <div class="line-2"><%=Customer.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-project d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-layer-group"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Projetos</div>
                <div class="line-2"><%=Project.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-user d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-user-group"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Usuários</div>
                <div class="line-2"><%=User.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>

  </div>
</div>    