<div class="card card-topic">
  <div class="card-header">
    <i class="fa-solid fa-angles-right pe-2"></i>Visão Geral
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-building"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Clientes</div>
                <div class="line-2"><%=Customer.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-layer-group"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Projetos</div>
                <div class="line-2"><%=Project.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-circle-question"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Ajudas</div>
                <div class="line-2"><%=Help.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-inbox"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Requisições</div>
                <div class="line-2"><%=Request.all.count%></div>
              </div>
            </div> 
          </div>
        </div>
      </div>      
    </div>

  </div>
</div>    