<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left pe-3">
        <%=index_title('Painel')%>
      </div>
      <div class="ph-right">
      </div>          
    </div>

    <div class="row">
    
      <div class="col-12 col-md-4">
        <div class="card count">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-customer d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-building"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Clientes</div>
                <div class="line-2">700</div>
              </div>
            </div> 
          </div>
        </div>
      </div>
     
      <div class="col-12 col-md-4">
        <div class="card count">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-project d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-layer-group"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Projetos</div>
                <div class="line-2">10</div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card count">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <div class="box box-user d-flex justify-content-center align-items-center" >
                  <i class="fa-solid fa-user-group"></i>
                </div>
              </div>
              <div class="col col-lines">
                <div class="line-1">Usuários</div>
                <div class="line-2">23</div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>

  </div>                    
</main>