/*
*= require bootstrap/dist/css/bootstrap
*= require trix.css
*= require actiontext.css
*/

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  background-color: #f8fbff;
}

.border-content {
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 5em;
  outline: none;
}

.card-body-style {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .card-body-style {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }
}

.card-size {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-color: #fff;
  border-radius: inherit;
}

.max-container {
  max-width: 1400px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;;
}

@media screen and (max-width: 1850px) {
  .max-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .max-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.title-jumbo {
  color: #ebfffc;
  /* background: linear-gradient(#003d5a, #069099); */
  background: linear-gradient(#032a4a, #2d71ab);
  /* background-image: url(background-title.png); */
  /* background-size: cover; */
}

.bg-style {
  border: solid;
  border-width: 0.1rem;
  font-size: 1rem;
  font-weight: 300;
}

.title-jumbo .container-fluid {
  max-width: 1200px;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

@media screen and (max-width: 576px) {
  .title-jumbo .container-fluid {
    max-width: 1200px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.title-help {
  font-size: 2.2rem;
}

.title-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e426e;
}

@media screen and (min-width: 576px) {
  .title-header .project {
    text-align: right !important;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .title-header .project {
    font-size: 1.0rem;
    padding-top: 0.5rem;
    text-align: right !important;
    margin: auto;
  }
}

.title-bar {
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;  
}

.social {
  text-align: right !important;
  margin: auto;  
}

main {
  padding-bottom: 9.8rem;
}

.title-jumbo .updated {
  width: 100%;
  text-align: end;
  font-size: 12px;
  font-weight: 500;  
  color: #bfcfd7;
  padding-top: 4px;
}

footer {
  background: #0e426e;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.img-logo {
  width: 130px;
}

@media screen and (max-width: 576px) {
  .img-logo {
    width: 120px;
  }
}

.logo-central img {
  height: auto;
  width: 40px;
}

.footer-data {
  color: #fff;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.footer-data span {
  color: #f3f2f2;
}

footer .container {
  max-width: 1400px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #ffffffda;
}

@media screen and (max-width: 576px) {
  .no-logo {
    width: 70%;
  }
}

.help-notfound {
  padding-top: 5rem !important;
  padding-bottom: 3rem !important;  
}

@media screen and (max-width: 576px) {
  .copyright {
    padding-top: 1.5rem;
  }
}

