<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <%= link_to(root_path,  class: "nav-link color-item-menu") do %>
          <div class="sb-nav-link-icon"><i class="fa-solid fa-desktop"></i></div>
          Painel
        <%end%>        
        
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCadastro" aria-expanded="false" aria-controls="collapseCadastro">
          <div class="sb-nav-link-icon"><i class="fa-regular fa-folder-open"></i></div>
          Cadastros
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseCadastro" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionCadastro">
            <%= link_to(customers_index_path,  class: "nav-link color-item-menu") do %>
              <div class="sb-nav-link-icon"><i class="fa-solid fa-shop"></i></div>
              Clientes
            <%end%>            

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCadastroUsuario" aria-expanded="false" aria-controls="collapseCadastroUsuario">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
              Usuários
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            <div class="collapse" id="collapseCadastroUsuario" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionCadastro">
              <nav class="sb-sidenav-menu-nested nav">
                <%= link_to(positions_index_path,  class: "nav-link color-item-menu") do %>
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
                  Cargos/Funções
                <%end%>

                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
                  <div class="color-item-menu">Usuários</div>
                </a>                
              </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCadastroProjeto" aria-expanded="false" aria-controls="collapseCadastroProjeto">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
              Projetos
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseCadastroProjeto" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionCadastro">
              <nav class="sb-sidenav-menu-nested nav">

                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
                  <div class="color-item-menu">Sistemas</div>
                </a>
                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
                  <div class="color-item-menu">Tags</div>
                </a>
                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
                  <div class="color-item-menu">Versões</div>
                </a>
                <a class="nav-link" href="index.html">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
                  <div class="color-item-menu">Participantes</div>
                </a>                                

              </nav>
            </div>

            <%= link_to(cities_index_path,  class: "nav-link color-item-menu") do %>
              <div class="sb-nav-link-icon"><i class="fa-solid fa-map-location-dot"></i></div>
              Municípios
            <%end%>
          </nav>
        </div>        

        <a class="nav-link" href="charts.html">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
          <div class="color-item-menu">Requisições</div>
        </a>
        <a class="nav-link" href="tables.html">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-pen-to-square"></i></div>
          <div class="color-item-menu">FAQ Interno</div>
        </a>
      </div>
    </div>
  </nav>
</div>