<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left e-3">
        <div>Sistemas</div>
      </div>
      <div class="ph-right">
        <%= link_to(new_system_path,  class: "btn btn-action btn-success") do %>
          <i class="fa-solid fa-plus"></i></i> Incluir
        <%end%>             
      </div>          
    </div>
    
    <div class="card">
      <div class="card-body card-body-style">
        <%= form_with(url: systems_search_path, class:'row', method: 'get', local: false) do |form| %>
          <div class="col-12 col-md-6 mb-1">
            <label for="system_id" class="form-label">Descrição</label>
            <input type="text" name="search_description" id="description_id" class="form-control" maxlength="50" autofocus autocomplete="off">
          </div>

          <div class="col-btn-search col-12 col-md-6 align-self-end mb-1">
            <%= button_tag class:"btn btn-outline-success btn-search", id:'btn_consultar_id', data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='data pb-4' id='data-id'></div>
  </div>                    
</main>
