<h1 class="text-center help-notfound">Ajuda não encontrada!</h1>

<div class="text-center pb-5">
  <%= image_tag "not-found.png", class:"no-logo", alt: "Ajuda não encontrada" %>
</div>

<div class="text-center px-3">
  <h5 class="text-center pb-2">A página de ajuda que você está procurando não foi encontrada, ou pode não estar mais disponível.</h5>
  <h5 class="text-center pb-2">Certifique-se que a URL da ajuda está correta.</h5>
  <h5>Se precisar de ajuda entre em contato com nosso suporte tecnológico.</h5>
</div>

<%= render partial: 'ajuda/footer' %> 