<%= render "shared/header" %>
<main>
  <div class="container-fluid max-container">
    <div class="page-heading"> 
      <div class="ph-left d-flex pe-3">
        <i class="fa-solid fa-map-location-dot icon-heading"></i>
        <div>Municípios</div>
      </div>
      <div class="ph-right">
        <div class='alert alert-success p-2 m-0' role='alert'>
          <i class='fas fa-exclamation-circle'></i> Cadastro padrão IBGE. Disponível somente para consulta
        </div>        
      </div>          
    </div>
    
    <div class="card">
      <div class="card-body card-style">

        <%= form_with(url: cities_search_path, class:'row', method: 'get', local: false) do |form| %>
          <div class="col-12 col-md-6 mb-1">
            <label for="name_id" class="form-label">Nome</label>
            <input type="text" name="search_name" id="name_id" class="form-control" maxlength="50" autofocus autocomplete="off">
          </div>
          
          <div class="col-12 col-md-2 mb-1">
            <label for="ibge_code_id" class="form-label">UF</label>
            <select class="form-select" name="search_uf" id="uf_id">
                <option value="">Todas</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
          </div>              
          
          <div class="col-12 col-md-2 mb-1">
            <label for="ibge_code_id" class="form-label">Código IBGE</label>
            <input type="number" name="search_ibge_code"id="ibge_code_id" class="form-control" maxlength="7" autofocus autocomplete="off">
          </div>

          <div class="col-btn-search col-12 col-md-2 align-self-end mb-1">
            <%= button_tag class:"btn btn-outline-success btn-form", data: { disable_with: 'Aguarde..' } do %>
              <i class="fa-solid fa-magnifying-glass me-1"></i>Consultar
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <div class='data pb-4' id='data-id'></div>
    
  </div>                    
</main>