<%= render "shared/header" %>
<div id="layoutSidenav">
  <%= render "shared/sidenav" %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid max-container">
        <div class="page-heading"> 
          <div class="ph-left d-flex pe-3">
            <i class="fa-solid fa-map-location-dot icon-heading"></i>
            <div>Municípios</div>
          </div>
          <div class="ph-right">
            <div class='alert alert-warning p-2 m-0' role='alert'>
              <i class='fas fa-exclamation-circle'></i> Cadastro padrão IBGE. Disponível somente para consulta
            </div>        
          </div>          
        </div>
        
        <div class="card mb-4">
          <div class="card-body">
            Cadastro de Municípios
          </div>
        </div>
        
      </div>                    
    </main>
  </div>
</div>