/*
*= require bootstrap/dist/css/bootstrap
*= require toastify-js/src/toastify.css
*= require slim-select/dist/slimselect.css
*= require trix.css
*= require actiontext.css
*= require form.css
*= require menubar.css
*/

html,
body {
  height: 100%;
  background-color: #f8fbff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 2.0rem;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #c6d7c3 !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  margin-top: 4px;
}

.navbar-expand .navbar-nav .nav-link {
  color: #979797;
}

.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

#layoutSidenav {
  display: flex;
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
  box-shadow: 0 0px 9px 0 rgba(0,0,0,0.11),0 0px 10px 0 rgba(0,0,0,0.30);
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 76px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}

#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutError #layoutError_footer {
  min-width: 0;
}

.img-error {
  max-width: 20rem;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 60px;
  z-index: 1039;
}
.sb-topnav .navbar-brand {
  margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
  color: #343a40;
  font-size: 1.6rem;
  margin-left: 1rem;
}
.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}
.navbar-brand-align {
  width: 200px;
  height: 60px;
  /* background-color: #f1f1f1; */
  background-color: #cfe3da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  margin-top: 0.45rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.color-item-menu {
  color: #81b7a4 !important;
}
.color-item-menu:hover {
  color: #fff !important;
}

.sb-sidenav-light {
  background-color: #343a40;
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #c2c7d0;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}

.data-user {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 4px;
}

.data-user .user-name {
  color: #000201;
}

.img-logo {
  width: 74%;
}

.title-page {
  font-size: 16px;
  font-weight: 600;
}

.max-container {
  max-width: 1400px;
}

@media screen and (max-width: 1850px) {
  .max-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .max-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.avatar-menu img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.avatar-small img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.2rem;
  /* opacity: 0.8; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/*styles end*/

@media screen and (min-width: 1400px) {
  .container-login {
    padding: 10rem 34rem 0 34rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-login {
    padding: 10rem 27rem 0 27rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container-login {
    padding: 10rem 20rem 0 20rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-login {
    padding: 8rem 12rem 0 12rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px)  {
  .container-login {
    padding: 8rem 3rem 0 3rem;
  }
}

@media screen and (max-width: 575px)  {
  .container-login {
    padding: 6rem 0 0 0;
  }
}

@media screen and (max-width: 992px)  {
  .data-user {
    display: none;
  }  
}

.form-check {
  display: flex;
  justify-content: space-between;
}

.form-check a {
  color: #27812f;
}

.icon-group-password {
  float: right;
  margin-top: -31px;
  padding-right: 10px;
  font-size: 17px;
  color: #606060;
  cursor: pointer;
}

.img-login {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .img-login img {
    width: 90%;
  }
}

.title-login{
  font-weight: 500;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding-top: 6.9rem;
  padding-bottom: 1.9rem;
}

.page-heading .ph-left {
  font-size: 18px;
  font-weight: 400;
  height: 31.25px;
  display: flex;
  align-items: center;
}

.icon-heading {
  padding-right: 0.5rem;
  font-size: 1.5em;
}

.icon-style {
  color: #525252;  
}

.alert-smaller {
  font-size: 11px
}

.table-result {
  background-color: #fff;
}

.table thead tr th {
  background-color: #d9deeb;
  font-size: 12px;
  font-weight: 500;
}

.records {
  margin: 0.7rem 0 0.7rem 0;
  font-weight: 500;
  font-size: 11px;
}

.record-not-found {
  width: 20rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.pagination {
  justify-content: end;
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #246a2c;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee6e2;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: #1aca0a;
  --bs-pagination-hover-bg: #e9efec;
  --bs-pagination-hover-border-color: #dee6e3;
  --bs-pagination-focus-color: #1aca0a;
  --bs-pagination-focus-bg: #e9efec;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 253, 33, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #3ea376;
  --bs-pagination-active-border-color: #369269;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dee6e6;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: var(--bs-pagination-border-radius);
  border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-link.active, .active>.page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}

.page-link {
  font-size: 12px;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-actions-two {
  width: 60px;
}

.card-body-style {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* padding-top: 2rem; */
}

.brd {
  border-top: 0.4rem solid #a8d7be !important;
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .col-btn-search {
    margin-top: 8px;
    text-align: end;
  }
}

.td-actions {
  font-size: 1.2rem;
  color: #5a725f !important;
  text-decoration: none;
}

.alert-error-message {
  padding: 0.6rem 1rem;
  font-size: 12px;
}

.badge-table {
  font-weight: 400;
  font-size: 11px;
}

.table tbody tr td {
  white-space: nowrap;
}

.new_user {
  padding-right: 1rem;
  padding-left: 1rem;  
}

.table-th-empty {
  background-color: #f8fbff !important;
  width: 20%;
}

.alert-divider {
  padding: 8px;
  border-radius: 0;
}

input {
  /* text-transform: uppercase; */
}

.input-btn {
  text-transform: none;
}

.input-pass {
  text-transform: none;
}

.input-email {
  text-transform: lowercase;
}

.ss-main .ss-values .ss-value {
  background-color: #c8e0f7;
}

.ss-main .ss-values .ss-value .ss-value-text {
  color: #1d4d70;
  font-weight: 500;
}

.ss-main .ss-values .ss-value .ss-value-delete svg path {
  stroke: #1d4d70;
}

.unavailable-icon {
  color: #ced4da;  
  font-size: 1.2rem;
}

main {
  padding-bottom: 2rem;
}

.ss-content .ss-search {
  padding-left: 0;
  padding-right: 0;
}

.fa-circle-info {
  color: #89a99c;
}
