.form-control {
  font-size: 13px;
  height: 27px;
}

.form-control-auth {
  font-size: 14px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.03rem #86b7fe;
}

.form-select {
  height: 27px;
  padding-top: 3px;
}

.form-select:focus {
  box-shadow: 0 0 0 0.03rem #86b7fe;
}

.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.03rem #dc3545;
}

.form-label {
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 0.2rem;
}

.input-btn {
  text-transform: none;
}

.input-email {
  text-transform: lowercase;
}

.btn-search {
  height: 2rem;
}

.btn-action {
  min-width: 8.5rem
}

.modal-title {
  font-weight: 500;
}

.modal-footer {
  background-color: var(--background-color);
  padding: 0.5rem 0.75rem;
}

.align-checkbox {
  margin-top: 2px;
  margin-left: 4px;
}

.modal-header-icon {
  color: #d3ab34;
}

.btn-form {
  height: 27px;
  padding-top: 3px;
}

@media screen and (max-width: 576px) {
  .btn-process {
    min-width: 0;
  }
}