.form-control-auth {
  font-size: 14px;
  height: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem #b0efac;
  border-color: #54bf8a;
}

.form-select:focus {
  box-shadow: 0 0 0 0.05rem #b0efac;
  border-color: #54bf8a;  
}

.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.02rem #e4a1a7;
}

.form-select.is-invalid:focus {
  box-shadow: 0 0 0 0.02rem #e4a1a7;
}

.form-label {
  font-weight: 500;
  font-size: 11px;
}

.input-email {
  text-transform: lowercase;
}

.btn-action {
  min-width: 8.5rem
}

.actions .btn {
  min-width: 7.5rem
}

.modal-title {
  font-weight: 500;
  font-size: 13px;
}

.modal-footer {
  background-color: var(--background-color);
  padding: 0.5rem 0.75rem;
}

.align-checkbox {
  margin-left: 4px;
}

.modal-header-icon {
  color: #d3ab34;
}

@media screen and (max-width: 576px) {
  .btn-process {
    min-width: 0;
  }
}

.table {
  --bs-table-striped-bg: rgba(0, 0, 0, 0.02);
}

.card-size {
  margin-left: auto;
  margin-right: auto;
}