/*
*= require request.css
*/

.fa-copy:hover{
  cursor: pointer;
}

.link-color, .link-color:hover {
  color: #5a725f
}

.first-line {
  margin-bottom: 0.3rem;
}

.third-line {
  padding-top: 0.3rem;
  font-size: 11px;
  font-weight: 500;
  --bs-text-opacity: 1;
  color: #828d97 !important;
}

.link-externo {
  text-wrap: wrap;
}