/*
*= require request.css
*/

.fa-copy:hover{
  cursor: pointer;
}

.link-color, .link-color:hover {
  color: #5a725f
}

.first-line {
  margin-bottom: 0.3rem;
}

.second-line {
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
  color: #3a3a3a !important;  
}

.third-line {
  padding-top: 0.3rem;
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
  --bs-text-opacity: 1;
  color: #3a3a3a !important;
}

.link-externo {
  text-wrap: wrap;
}

tbody tr {
  height: 92px;
}