/*
*= require request.css
*/

.fa-copy:hover{
  cursor: pointer;
}

.link-color, .link-color:hover {
  color: #5a725f
}

.first-line {
  margin-bottom: 0.4rem;
}

.second-line {
  font-size: 11px;
  font-weight: 500;
  color: #306c3d !important;  
}

.third-line {
  padding-top: 0.3rem;
  font-size: 11px;
  font-weight: 500;
  --bs-text-opacity: 1;
  color: #01563b !important;
}

.link-externo {
  text-wrap: wrap;
}

tbody tr {
  height: 92px;
}