.icon {
  font-size: 2.0rem;
  color: #fff;
  max-width: 6rem;
}

.icon .box {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 10%;
  margin: 0.5rem; 
  background-color: #08af3a;
}

.icon-project {
  font-size: 1.6rem;
  color: #fff;
  max-width: 5rem;
}

.icon-project .box-project {
  height: 3rem;
  width: 3rem;
  border-radius: 10%;
  margin: 0.5rem; 
  background-color: #0b66d7;
}

.line-1 {
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
}

.line-2 {
  font-weight: 700;  
  font-size: 20px;
}

.line-1-project {
  color: #6c757d;
  font-weight: 500;
  font-size: 14px;
}

.line-2-project {
  font-weight: 700;  
  font-size: 16px;
}

.col-lines {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.request-count {
  font-size: 12px;
  color: #6c757d !important;
  font-style: italic;
}

.card-topic {
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.10) !important;
}

.card-header {
  font-size: 14px;
  background-color: inherit;
  padding-bottom: 0;
  padding-top: 1.2rem;
  border: none;
}