.icon {
  font-size: 2.0rem;
  color: #fff;
  max-width: 6rem;
}

.icon .box {
  height: 4rem;
  width: 4rem;
  border-radius: 10%;
  margin: 0.5rem; 
}

.icon-small .box-small {
  height: 3rem;
  width: 3rem;
  border-radius: 10%;
  margin: 0.5rem; 
  color: #fff;
}

.box-customer {
  background-color: #9694ff;
}

.box-project {
  background-color: #5ddab4;
}

.box-user {
  background-color: #ff7976;
}

.box-help {
  background-color: #072486;
}

.box-request {
  background-color: #ffa500;
}

.line-1 {
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
}

.line-2 {
  font-weight: 700;  
  font-size: 20px;
}

.col-lines {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-topic {
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.10) !important;
}

.card-header {
  font-size: 14px;
  background-color: inherit;
  padding-bottom: 0;
  padding-top: 0.8rem;
  border: none;
}