<p>Olá <%= @resource.name_display %>.</p>  

<p>Foi requisitado um link para definição de senha do SFHelpdesk. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Definir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sua senha não será alterada até que você acesse o link acima.</p>
<p>Se você não fez essa requisição, por favor ignore essa mensagem.</p>